@import 'global';


ul{
    list-style: square;
}

.caption{
    text-align: center;
    .section-heading{
        
    }
}

.nav-list{
    background-color: #cfcfcf; 
    padding: 2rem 0;
    ul{
        margin-bottom: 0;
    }
}

.highlight{
    padding: 2rem 0;
}



// footer
footer{
    background-color: $bg2;
    padding: .75rem .5rem;
    color: #b3b3b3;
    a{
        color: #b3b3b3;
    }
}



/* DEMO-SPECIFIC STYLES */
.typewriter p {
    overflow: hidden;
    border-right: .15em solid rgb(7, 1, 92); 
    white-space: nowrap;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }